.text-center
  video id="my-video" class="center video-js vjs-big-play-centered vjs-16-9" controls=true preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg" data-setup="{fluid: true}"
    source src=@video.file.url type='video/mp4'
