#error_explanation {
  text-align: center;
  @extend .alert;
  @extend .alert-danger;
  h2 {
    font-size: 1.2em;
  }
  ul {
    @extend .list-unstyled;
  }
}

.field_with_errors {
  color: $brand-danger;
}
